*{
  margin: 0;
}

#wrap{
	width: 80%;
	margin: auto;
	position: relative;
	overflow: hidden;
}

body {
  background: #999999;

}

header h1{
	background-color: yellow;
	text-align: right;
	padding-top: 5px;
	height: 40px;
	font-weight: bold;
}

nav{
	background-color: green;
}
nav ul{
	text-align: center;
}
nav ul li{
	background-color: black;
	display: inline-block;
	height: inherit;
}
nav ul li a{
	padding: 8px 30px;
	vertical-align: middle;
	color: white;
	display: inline-block;
	height: inherit;
	text-decoration: none;
}

#content {
	background-color: rgb (80,80,68);
	width: 80%;
}


aside {
	width:20%;
	height:100%;
	color: black;
	background-color:white;
	background-image:url("http://www.literarygenius.info/images/william-shakespeare.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	right: 0;
}
aside ul {
	left:30px;
	background-position:center;
	background-size:contain;
	position: absolute;
	right:45px;
}
footer{
padding-left: 10px;
padding-top:15px;
background-color: green;
height: 50px;
width:auto;
text-align:left;
}
