*{
	margin:0;
}
body {
  background: #999999;
 
}

#wrap{
  background-color: #545649;
  
  margin: auto;
  position: relative;
  overflow:hidden;
  
}

header h1{
	background-color: yellow;
	text-align: right;
	padding-top: 5px;
	height:40px;
	font-weight:bold;
}

nav ul{
	background-color: green;
	list-style-type:none;
	margin:0;
	padding:50;
}
nav ul li{
	left: 50px;
	padding: 8px 30px;
	background-color:black;
	color: white;
	display: inline-block;
	padding:50;
	vertical-align: middle;
	text-decoration: none;
	position: relative;
	height:auto;
}
nav ul li a{
	padding: 8px 15px;
	vertical-align: middle;
	color:white;
	display: inline-block;
	height:auto;
	text-decoration:none;
}

#content {
	background-color:rgb(80,80,68);
	width:80%;
}

#content ul{
	text-align:center;
	list-style:none;
}
#content p{
	padding-right:130px;
}
aside {
	width:20%;
	height:100%;
	color: black;
	background-color:white;
	background-image:url("http://www.literarygenius.info/images/william-shakespeare.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
	right: 0;
}
aside ul {
	left:30px;
	background-position:center;
	background-size:contain;
	position: absolute;
	right:45px;
}
footer{
padding-left: 10px;
padding-top:15px;
background-color: green;
height: 50px;
width:auto;
text-align:left;
}
